res/*
plots
backup.txt
eval/gpt_persona.json
eval/llama_output_persona.json
eval/llama_persona.json
data/TKY/population_backup.json
check.py
mem
POI_data/
eval/expo_fit.py

__pycache__
helper/__pycache__